#Django gitignore

cache/*
*.egg-info
*.pot
*.py[co]
__pycache__
*/__pycache__
*/__pyca*
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
*.sqlite3
cache/
#*/dev.log
#*/prod.log
#*/*.log

secret_key.txt
#settings/production.py
staticfiles_dev/
htmlcov/
applications/*/tests/
totrash/
